<%= form_for @volunteer_info do |f| %>
  <div class='field'>
    <%= f.label :address, 'Endereço*' %><br />
    <%= f.text_field :address %>
    <%= text_field_tag :address_street %> <!-- please apply display: none on this text field -->
  </div>
  <div class='field'> <!-- please apply display: none on this field -->
    <%= label_tag :address_number, 'Número*' %><br />
    <%= text_field_tag :address_number %>
  </div>
  <div class='field'> <!-- please apply display: none on this text field -->
    <%= label_tag :address_additional_info, 'Complemento' %><br />
    <%= text_field_tag :address_additional_info %>
  </div>

  <div class='field'>
    <%= f.label :city, 'Cidade*' %><br />
    <%= f.text_field :city %>
  </div>

  <div class='field'>
    <%= f.label :state, 'Estado*' %><br />
    <%= f.select :state, [
      %w[AC AC], %w[AL AL], %w[AM AM], %w[AP AP], %w[BA BA], %w[CE CE], %w[DF DF], %w[ES ES], %w[GO GO], 
      %w[MA MA], %w[MT MT], %w[MS MS], %w[MG MG], %w[PA PA], %w[PB PB], %w[PR PR], %w[PE PE], %w[PI PI], 
      %w[RJ RJ], %w[RN RN], %w[RO RO], %w[RS RS], %w[RR RR], %w[SC SC], %w[SE SE], %w[SP SP], %w[TO TO],
      ]
    %>
  </div>

  <%= f.label :institution, 'Instituição/Empresa*' %>
  <%= f.text_field :institution %>

  <%= f.label :degree, 'Área de Estudo/Trabalho*' %>
  <%= f.text_field :degree %>

  <%= f.label :unemat_bond, 'Vínculo com a UNEMAT*' %>
  <%= f.select :unemat_bond, [ 
    %w[Professor Professor], %w[Aluno Aluno], ['Colaborador Externo', 'Colaborador Externo']
    ] %>

  <%= f.label :instagram %>
  <%= f.text_field :instagram %>

  <%= f.label :facebook %>
  <%= f.text_field :facebook %>

  <%= f.label :lattes %>
  <%= f.text_field :lattes %>

  <%= f.submit 'Enviar' %>
<% end %>

<%= javascript_pack_tag 'volunteer_registration' %>