<section class='form round-box registration'>
  <h2>Cadastre-se</h2>
  <span>Campos marcados com asterísco (*) são obrigatórios.</span>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), class: 'try') do |f| %>
    <%= render 'devise/shared/error_messages', resource: resource %>

    <div class='separator'></div>

    <div class='field'>
      <%= f.label :name, 'Nome Completo*' %>
      <%= f.text_field :name %>
    </div>

    <div class="field" id='cpf_field'>
      <%= f.label :cpf, 'CPF*' %>
      <%= f.text_field :cpf, maxlength: 14 %>
    </div>

    <div class='field'>
      <%= f.label :email, 'Email*' %>
      <%= f.email_field :email, autofocus: true, autocomplete: 'email' %>
    </div>

    <div class='field'>
      <%= f.label :password, 'Senha*' %>
      <%= f.password_field :password, autocomplete: 'new-password' %>
      <% if @minimum_password_length %>
      <em>(Mínimo de <%= @minimum_password_length %> caracteres)</em>
      <% end %>
    </div>

    <div class='field'>
      <%= f.label :password_confirmation, 'Digite a senha novamente*' %>
      <%= f.password_field :password_confirmation, autocomplete: 'new-password' %>
    </div>

    <div class='separator'></div>

    <div class='field'>
      <%= f.label :ddd1, 'DDD*' %> 
      <%= f.number_field :ddd1, min: 11 ,max: 99 %>
      <%= f.label :phone1, 'Telefone*' %> 
      <%= f.number_field :phone1, min: 10000000 ,max: 999999999 %>
    </div>

    <div class='field'>
      <%= f.label :phone1_type, 'Tipo de Telefone*' %>
      <%= f.select :phone1_type, [
        %w[Fixo Fixo], ['Celular sem Whatsapp', 'Celular sem Whatsapp'], ['Celular com Whatsapp', 'Celular com Whatsapp']
        ]
      %>
    </div>

    <div class='separator'></div>

    <div class='field'>
      <%= f.label :ddd2, 'DDD' %> 
      <%= f.number_field :ddd2, min: 11 ,max: 99 %>
      <%= f.label :phone2, 'Telefone Adicional' %>
      <%= f.number_field :phone2, min: 10000000 ,max: 999999999 %>
    </div>

    <div class='field'>
      <%= f.label :phone2_type, 'Tipo de Telefone' %>
      <%= f.select :phone2_type, [
        ['', nil], %w[Fixo Fixo], ['Celular sem Whatsapp', 'Celular sem Whatsapp'], ['Celular com Whatsapp', 'Celular com Whatsapp']
        ]
      %>
    </div>

    <div class='separator'></div>

    <div class='field'>
      <%= f.label :account_type, 'Tipo de Conta*' %>
      <%= f.select :account_type, [
        %w[Comprador Comprador], %w[Voluntário Voluntário], ['Ponto de Entrega', 'Ponto de Entrega']
        ]
      %>
    </div>

    <div class='actions'>
      <%= f.submit 'Enviar', id: 'send' %>
    </div>
  <% end %>
</section>
