<h1>Todos os Parceiros</h1>
<%= link_to 'Adicionar Parceiro', new_partner_path %>
<h2>Fornecedores</h2>
<table>
  <tr>
    <td>Nome</td>
    <td>Email</td>
    <td>Telefone 1</td>
    <td>Ações</td>
  </tr>
  <% @suppliers.each do |supplier| %>
    <tr>
      <td><%= link_to supplier.name, partner_path(supplier) %></td>
      <td><%= supplier.email %></td>
      <td><%= "#{supplier.phone1} (#{supplier.phone1_type})" %></td>
      <td>
        <%= link_to 'Editar', edit_partner_path(supplier) %>
      </td>
    </tr>
  <% end %>
</table>
<h2>Pontos de Entrega</h2>
<table>
  <tr>
    <td>Nome</td>
    <td>Email</td>
    <td>Telefone 1</td>
    <td>Ações</td>
  </tr>
  <% @delivery_points.each do |delivery_point| %>
    <tr>
      <td><%= link_to delivery_point.name, partner_path(delivery_point) %></td>
      <td><%= delivery_point.email %></td>
      <td><%= "#{delivery_point.phone1} (#{delivery_point.phone1_type})" %></td>
      <td>
        <%= link_to 'Editar', edit_partner_path(delivery_point) %>
      </td>
    </tr>
  <% end %>
</table>