<h2>Ferramentas</h2>
<div class='partners'>
  <span><%= link_to('Adicionar Parceiro', new_partner_path) %></span>
  <span><%= link_to('Ver Parceiros', partners_path) %></span>
</div>
<div class='products'>
  <span><%= link_to('Adicionar Produto', new_product_path) %></span>
  <span><%= link_to('Ver Produtos', products_path) %></span>
</div>
<div class='purchase'>
  <span><%= link_to('Ver Compras Coletivas', purchases_path) %></span>
  <%= form_for(template) do |f| %>
    <%= f.select(:partner_id, options_for_select(options)) %>
    <%= f.submit('Criar Compra Coletiva com este Fornecedor') %>
  <% end %>
</div>
