<div class='separator'></div>
<span>
  <%= link_to('Parceiros', partners_path) %>
  •
  <%= link_to('Adicionar Parceiro', new_partner_path) %>
</span>
<div class='separator'></div>
<span>
  <%= link_to('Produtos', products_path) %>
  •
  <%= link_to('Adicionar Produto', new_product_path) %>
</span>
<div class='separator'></div>
<div class='purchase-tools'>
  <span><%= link_to('Compras Coletivas', purchases_path) %></span>
  <%= form_for(template) do |f| %>
    <%= f.select(:partner_id, options_for_select(options)) %>
    <%= f.submit('Criar Compra Coletiva', data: { confirm: 'Criar compra coletiva?' }) %>
  <% end %>
</div>
