<%= pending_users(@pending_users) %>
<section class='buyers'>
  <h2>Compradores</h2>
  <table>
    <tr>
      <td>Nome</td>
      <td>Email</td>
      <td>Telefone 1</td>
    </tr>
    <% @buyers.each do |buyer| %>
      <tr>
        <td><%= link_to buyer.name, user_path(buyer) %></td>
        <td><%= buyer.email %></td>
        <td><%= "#{buyer.phone1} (#{buyer.phone1_type})" %></td>
      </tr>
    <% end %>
  </table>
</section>
<section class='volunteers'>
  <h2>Voluntários</h2>
  <table>
    <tr>
      <td>Nome</td>
      <td>Email</td>
      <td>Telefone 1</td>
    </tr>
      <% @volunteers.each do |volunteer| %>
      <tr>
        <td><%= link_to volunteer.name, user_path(volunteer) %></td>
        <td><%= volunteer.email %></td>
        <td><%= "#{volunteer.phone1} (#{volunteer.phone1_type})" %></td>
      </tr>
    <% end %>
  </table>
</section>
<section class='delivery-points'>
  <h2>Pontos de Entrega</h2>
  <table>
    <tr>
      <td>Nome</td>
      <td>Email</td>
      <td>Telefone 1</td>
    </tr>
    <% @delivery_points.each do |delivery_point| %>
      <tr>
        <td><%= link_to delivery_point.name, user_path(delivery_point) %></td>
        <td><%= delivery_point.email %></td>
        <td><%= "#{delivery_point.phone1} (#{delivery_point.phone1_type})" %></td>
      </tr>
    <% end %>
  </table>
</section>