<section class='user-utilities'>
  <nav class='user-tools'>
    <%= link_to_users_index %>
    <tr>
      <%= adm_actions(@user) %>
    </tr>
    <%= volunteer_actions(@new_purchase, @partner_select) %>
    <%= orders_to_deliver_link %>
  </nav>
  <article class='user-information round-box'>
    <h2>Conta de <%= @user.name %></h2>
    <span>Email: <%= @user.email %></span>
    <span>CPF: <%= cpf_format(@user.cpf) %></span>
    <span>Telefone: <%= phone_format(@user.ddd1, @user.phone1) %> (<%= @user.phone1_type %>)</span>
    <%= phone2(@user) %>
    <span>Tipo de conta: <%= @user.account_type %></span>
    <%= volunteer_info(@user) %>
  </article>
</section>
<section class='user-orders'>
  <% @orders.each do |order| %>
    <span><%= order.created_at.strftime('%d/%m/%Y') %></span>
    <span><%= order.purchase_product.name %></span>
    <span><%= order.status %></span>
    <span>R$ <%= br_currency(order.purchase_product.price) %></span>
    <span><%= order.quantity %></span>
    <span>R$ <%= br_currency(order.total) %></span>
    <span><%= order.delivery_city %></span>
    <span><%= link_to 'Ver Pedido e Link de Pagamento', payment_path(order.payment) %></span>
  <% end %>
</section>