<h1>Conta de <%= @user.name %></h1>
<%= greeting_message(@user) %>
<nav class='user-utilities'>
  <%= link_to_users_index %>
  <tr>
    <%= adm_actions(@user) %>
  </tr>
</nav>
<%= volunteer_actions(@new_purchase, @partner_select) %>
<%= orders_to_deliver_link %>
<section class='user-information'>
  <h2>Minhas Informações</h2>
  <%= link_to 'Editar', edit_user_registration_path %>
  <ul>
    <li>Email: <%= @user.email %></li>
    <li>Telefone 1: <%= @user.phone1 %> (<%= @user.phone1_type %>)</li>
    <%= phone2(@user) %>
    <li>Tipo de conta: <%= @user.account_type %></li>
  </ul>
</section>
<section class='user-orders'>
  <% @orders.each do |order| %>
    <span><%= order.created_at.strftime('%d/%m/%Y') %></span>
    <span><%= order.purchase_product.name %></span>
    <span><%= order.status %></span>
    <span>R$ <%= br_currency(order.purchase_product.price) %></span>
    <span><%= order.quantity %></span>
    <span>R$ <%= br_currency(order.total) %></span>
    <span><%= order.delivery_city %></span>
    <span><%= link_to 'Ver Pedido e Link de Pagamento', payment_path(order.payment) %></span>
  <% end %>
</section>