<h1>Conta de <%= @user.name %></h1>
<%= greeting_message(@user) %>
<nav class='user-utilities'>
  <%= link_to_users_index %>
  <tr>
    <%= adm_actions(@user) %>
  </tr>
</nav>
<section class='user-information'>
  <h2>Minhas Informações</h2>
  <%= link_to 'Editar', edit_user_registration_path %>
  <ul>
    <li>Email: <%= @user.email %></li>
    <li>Telefone 1: <%= @user.phone1 %> - <%= @user.phone1_type %></li>
    <%= phone2(@user) %>
    <li>Endereço: <%= @user.address %>, <%= @user.city %> (<%= @user.state %>) </li>
    <li>Tipo de conta: <%= @user.account_type %></li>
  </ul>
</section>