<section class='round-box form'>
  <h2>Editar Compra Coletiva</h2>

  <%= form_for @purchase do |f| %>
    <div class='field'>
      <%= f.label :active, 'A compra está' %>
      <%= f.radio_button :active, true %>
      <%= f.label :active, 'Ativa', value: 'true' %>
      <%= f.radio_button :active, false %>
      <%= f.label :active, 'Inativa', value: 'false' %>
    </div>

    <div class='field'>
      <%= f.label :status, 'Etapa da Compra' %><br />
      <%= f.select :status, [
        %w[Aberta Aberta], ['Solicitada ao Fornecedor', 'Solicitada ao Fornecedor'], ['Pronto para Retirada', 'Pronto para Retirada'], %w[Finalizada Finalizada]
        ]
      %>  
    </div>

    <div class='actions'>
      <%= f.submit 'Enviar' %>
    </div>
  <% end %>
</section>