<section class='round-box fit-content'>
  <article class='table'>
    <h2>Compras Coletivas Ativas</h2>
    <table>
      <tr>
        <th>ID</th>
        <th>Fornecedor</th>
        <th>Total Arrecadado</th>
        <th>Data de Criação</th>
        <th>Status</th>
        <th>Ações</th>
      </tr>
      <% @active_purchases.each do |purchase| %>
        <tr>
          <td><%= link_to purchase.id, purchase_path(purchase) %></td>
          <td><%= purchase.partner.name %></td>
          <td>R$ <%= br_currency(purchase.total) %></td>
          <td><%= purchase.created_at.strftime("%d/%m/%Y") %></td>
          <td><%= purchase.status %></td>
          <td><%= edit_purchase(purchase) %></td>
        </tr>
      <% end %>
    </table>
    <h2>Compras Coletivas Inativas</h2>
    <table>
      <tr>
        <th>ID</th>
        <th>Fornecedor</th>
        <th>Total Arrecadado</th>
        <th>Data de Criação</th>
        <th>Status</th>
        <th>Ações</th>
      </tr>
      <% @inactive_purchases.each do |purchase| %>
        <tr>
          <td><%= link_to purchase.id, purchase_path(purchase) %></td>
          <td><%= purchase.partner.name %></td>
          <td>R$ <%= br_currency(purchase.total) %></td>
          <td><%= purchase.created_at.strftime("%d/%m/%Y") %></td>
          <td><%= purchase.status %></td>
          <td><%= edit_purchase(purchase) %></td>
        </tr>
      <% end %>
    </table>
  </article>
</section>