<div class='show-private'>
  <section class='utilities'>
    <%= display_notice %>
    <nav class='round-box tools'>
      <h2>Ações</h2>
      <div class='separator'></div>
      <%= link_to 'Voltar às Compras Coletivas', purchases_path %>
      <div class='separator'></div>
      <%= link_to 'Ofertar Produto', new_purchase_product_path(purchase_id: @purchase.id) %>
      <div class='separator'></div>
      <%= edit_purchase(@purchase) %>
    </nav>
    <article class='information round-box'>
      <h2>Compra Coletiva <%= @purchase.id %></h2>
      <span>Fornecedor: <%= link_to @purchase.partner.name, partner_path(@purchase.partner) %> </span>
      <span>Status: <%= @purchase.status %></span>
      <span>Valor total das compras: R$ <%= br_currency(@purchase.total) %></span>
      <span>Data de Criação: <%= @purchase.created_at.strftime("%d/%m/%Y") %></span>
      <span>Última Atualização: <%= @purchase.updated_at.strftime("%d/%m/%Y") %></span>
    </article>
  </section>
  <section class='fit-content round-box'>
    <article class='table'>
      <h2>Produtos Ofertados</h2>
      <button id='download-table'>Baixar essa tabela</button>
      <table id='purchase-table'>
        <caption class='hidden'>Produtos Ofertados</caption>
        <thead>
          <tr>
            <th>Nome</th>
            <th>Preço</th>
            <th>Total</th>
            <th>Qtd Sinop</th>
            <th>Qtd Cuiabá</th>
            <th>Qtd Total</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <% @purchase_products.each do |purchase_product| %>
            <tr>
              <td><%= purchase_product.name %></td>
              <td>R$ <%= br_currency(purchase_product.price) %></td>
              <%= sum_orders(purchase_product) %>
              <td>
                <%= delete_purchase_product(purchase_product) %> <br>
                <%= hide_purchase_product(purchase_product) %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </article>
  </section>
</div>

<%= javascript_pack_tag 'xls_exporter' %>


