<div class='homepage'>
  <section class='welcome'>
    <%= display_notice %>
    <article class='welcome-window round-box'>
      <%= image_tag('tl.jpg') %>
      <p>
        <b>TERRA LIMPA</b> é um projeto de Pesquisa com Interface na Extensão Universitária. 
        O objetivo externo é de organizar um Sistema de Compras Coletivas de alimento limpo 
        (agroecológicos e orgânicos). 
      </p>

      <p><b>PATROCÍNIO</b></p>

      <a href='https://www.jeanpiagetsinop.com.br/' target='_blank'>
        <div class='round-box colegio'>
          <%= image_tag('colegio.png') %>
        </div>
      </a>

      <p>
        <b>COMPRA</b><br>
        Os usuários devem escolher seus produtos e finalizar a compra. 
        Ao finalizar, o site direcionará para o Pag Seguro, onde será feito o pagamento através de 
        Cartão de Crédito, transferência bancária, boleto bancário. Com as compras parciais, a 
        Equipe do Terra Limpa executa uma compra para todos, o que implica em barateamento de preços 
        e de frete. Esse sistema, que traz benefícios econômicos, requer paciência dos prossumidores 
        (consumidores participativos, construtores do sistema), pois requer tempo para todos comprar 
        e os pagamentos parciais serem liberados pelos bancos de cada um. Estejam preparados para um 
        tempo maior que o comum para receber os produtos (cerca de quatro a seis semanas).
      </p>
      <p>
        <b>SINOP E CUIABÁ</b><br>
        Quando iniciar suas compras, escolha a cidade em que fará sua retirada.
      </p>
      <p>
        <b>ENTREGA</b><br>
        As entregas são marcadas com três dias de antecedência através dos canais de  comunicação 
        deixados no site (não esquecer de preencher dados de telefone, e-mail). Em Cuiabá, 
        contamos com a parceria da RECOOPSOL e Coorimbata.
      </p>
      <p>Boas compras!</p>
      <p>Equipe Terra Limpa</p>
    </article>
  </section>

  <section class='active-purchases'>
    <% @purchase_products.each do |purchase_product| %>
      <article class='purchase-product-preview round-box'>
        <% if purchase_product.product.image.attached? %>
          <%= image_tag(purchase_product.product.image) %>
        <% end %>
        <div>
          <h2>
            <%= link_to purchase_product.name, purchase_product_path(purchase_product), class: 'purchase-product-name purchase-product-link' %>
          </h2>
          <span class='purchase-product-price'>R$ <%= br_currency(purchase_product.price) %></span>
          <%= order_form(purchase_product, @existing_orders, @existing_orders_ids) %>
        </div>
      </article>
    <% end %>
    <nav class='round-box willpaginate'>
      <%= will_paginate unless @purchase_products.empty? %>
    </nav>
  </section>
</div>
