<div class='show-centered' >
  <section class='utilities'>
    <article class='information round-box'>
      <% if @product.image.attached? %>
        <%= image_tag @product.image %>
      <% end %>
      <h2><%= @product.name %></h2>
      <span>Preço: R$ <%= br_currency(@purchase_product.price) %></span>
      <span>Peso: <%= format_weight(@product.weight, @product.weight_type) %></span>
      <span>Descrição: <%= @product.description %></span>  </article>
      <%# order_form(@purchase_product, @existing_orders, @existing_orders_ids) %>
    </article>
    <article class='information round-box'>
      <% if @partner.image.attached? %>
        <%= image_tag @partner.image %>
      <% end %>
      <h2>Fornecedor: <%= @partner.name %></h2>
      <span>Descrição: <%= @partner.description %></span>
      <span>Cidade: <%= @partner.city %> - <%= @partner.state %> </span>
      <span><a href=<%= @partner.website %> target='_blank'>Website</a></span>
    </article>
  </section>
</div>
