<section class='round-box fit-content'>
  <article class='table'>
  <h2>Meu Carrinho</h2>
    <table class='not-mobile'>
      <tr>
        <th>Produto</th>
        <th>Preço</th>
        <th>Quantidade e Cidade de Entrega</th>
        <th>Total</th>
        <th>Ações</th>
      </tr>
      <% @orders.each do |order| %>
        <tr>
          <td><%= order.purchase_product.name %></td>
          <td>R$ <%= br_currency(order.purchase_product.price) %></td>
          <td>
            <%= form_for(order) do |f| %>
              <%= f.hidden_field :id %>
              <%= f.number_field :quantity, min: 1 %>
              <%= f.submit "Modificar" %>
            <% end %>
          </td>
          <td>R$ <%= br_currency(order.total) %></td>
          <td>
            <%= link_to 'Retirar', order_path(order), method: :delete %>
          </td>
        </tr>
      <% end %>
    </table>
    <div class='mobile item-box'>
      <% @orders.each do |order| %>
        <div>
          <%= form_for(order) do |f| %>
            <%= f.hidden_field :id %>
            <h3><%= order.purchase_product.name %></h3>
            <p>Preço: R$ <%= br_currency(order.purchase_product.price) %></p>
            <p>Quantidade: <%= f.number_field :quantity, min: 1 %></p>
            <p>Total: R$ <%= br_currency(order.total) %></p>
            <p>
              <%= f.submit "Modificar", disable_with: 'Modificando...' %>
              <%= link_to 'Retirar', order_path(order), method: :delete %>
            </p>
          <% end %>
        </div>
      <% end %>
    </div>
  </article>
  <div class='close-cart'>
    <%= link_to 'Voltar às Ofertas', root_path %>
    <div class='gimme-space'>
      <%= close_cart_link(@orders) %>
    </div>
  </div>
</section>
