<% @orders.each do |order| %>
  <%= form_for(order) do |f| %>
    <%= f.hidden_field :id %>
    <span><%= order.purchase_product.name %></span>
    <span>R$ <%= br_currency(order.purchase_product.price) %></span>
    <%= f.number_field :quantity, min: 1 %>
    <span>R$ <%= br_currency(order.total) %></span>
    <%= f.select :delivery_city, city_options(order.purchase_product) %>
    <%= f.submit "Modificar", disable_with: 'Modificando...' %>
    <span><%= link_to 'Retirar do Carrinho', order_path(order), method: :delete %></span>
  <% end %>
<% end %>
