<a href=<%= "https://sandbox.pagseguro.uol.com.br/v2/checkout/payment.html?code=#{@payment.code}" %>>Link de Pagamento</a>
<section class='orders'>
  <% @orders.each do |order| %>
    <span><%= order.purchase_product.name %></span>
    <span>R$ <%= br_currency(order.purchase_product.price) %></span>
    <span><%= order.quantity %></span>
    <span>R$ <%= br_currency(order.total) %></span>
  <% end %>
  <span>R$ <%= br_currency(@total) %></span>
</section>