<section class='round-box fit-content'>
  <%= link_to 'Adicionar Produto', new_product_path %>
  <article class='table'>
    <h2>Todos os Produtos</h2>
    <table>
      <tr>
        <th>Nome</th>
        <th>Peso</th>
        <th>Fornecedor</th>
        <th>Ações</th>
      </tr>
      <% @products.each do |product| %>
        <tr>
          <td><%= link_to product.name, product_path(product) %></td>
          <td><%= format_weight(product.weight, product.weight_type) %></td>
          <td><%= link_to product.partner.name, partner_path(product.partner) %></td>
          <td class='table-actions'>
            <%= link_to 'Editar', edit_product_path(product) %>
            <%= link_to 'Apagar', product_path(product), method: :delete %>
          </td>
        </tr>
      <% end %>
    </table>
  </article>
</section>
