<div class='show-centered' >
  <section class='utilities'>
    <%= display_notice %>
    <nav class='tools round-box'>
      <h2>Ações</h2>
      <div class='separator'></div>
      <%= link_to 'Voltar aos Produtos', products_path %>
      <div class='separator'></div>
      <%= link_to 'Editar este Produto', edit_product_path(@product) %>
      <div class='separator'></div>
      <%= link_to 'Apagar este Produto', product_path(@product), method: :delete %>
    </nav>
    <article class='information round-box'>
      <% if @product.image.attached? %>
        <%= image_tag @product.image %>
      <% end %>
      <h2><%= @product.name %></h2>
      <span>Peso: <%= format_weight(@product.weight, @product.weight_type) %></span> 
      <span>Descrição: <%= @product.description %></span>
      <span>Fornecedor: <%= link_to @product.partner.name, partner_path(@product.partner) %></span>    </article>
    </article>
  </section>
</div>

