<!DOCTYPE html>
<html>
  <head>
    <title>GroupBuying</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class='useful-links'>
      <span class='sign-up'>
        <%= link_to 'Registrar-se', new_user_registration_path %>
      </span>
      <span class='log-in'>
        <%= link_to 'Fazer Login', new_user_session_path %>
      </span>
    </nav>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
