<!DOCTYPE html>
<html>
  <head>
    <title>Terra Limpa</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'navbar' %>
    <%= favicon_link_tag asset_path('logo.png') %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  </head>

  <body>
    <nav class='useful-links'>
      <div class='left'>
        <span class='home'>
          <%= link_to 'Início', root_path %>
        </span>
        <span class='about not-mobile'>
          <%= link_to 'Sobre o Projeto', about_path %>
        </span>
        <span class='partners not-mobile'>
          <%= link_to 'Parceiros', public_partners_path %>
        </span>
      </div>
      <div class='right not-mobile'>
        <%= mutable_links %>
      </div>
      <div class='right mobile'>
        <svg class='bi bi-list' viewBox='0 0 16 16' fill='currentColor' xmlns='http://www.w3.org/2000/svg'>
          <path fill-rule='evenodd' d='M2.5 11.5A.5.5 0 0 1 3 11h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 3h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z'/>
        </svg>
        <svg viewBox='0 0 16 16' class='bi bi-x' fill='currentColor' xmlns='http://www.w3.org/2000/svg'>
          <path fill-rule='evenodd' d='M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z'/>
        </svg>
      </div>
      <div class='mobile' id='hidden-links'>
          <%= mutable_links %>
          <span class='about'>
            <%= link_to 'Sobre o Projeto', about_path %>
          </span>
          <span class='partners'>
            <%= link_to 'Parceiros', public_partners_path %>
          </span>
      </div>
    </nav>
    <%= yield %>
  </body>
  
</html>
